@charset "utf-8";
/* CSS Document */

.big{width:100%;box-shadow:0px 0px 7px #b3b3b3;position:fixed;z-index:9999;background:#fff;top:0;}
.header{width:1000px;height:80px;margin:0 auto;}
.header .left{float:left;margin-top:19px;display:inline-block;}
.header .nav{float:left;margin-left:100px;}
.header .nav .addd{float:left;display:inline-block;position:relative;}
.header .nav .addd a{margin-top:33px;display:inline-block;height:14px;font:14px/14px 'Microsoft YaHei';color:#000;text-align:center;padding:0 32px;}
.header .nav .addd a:hover{display:inline-block;height:14px;font:14px/14px 'Microsoft YaHei';color:#f7941d;background-color:#fff;}
.header .nav .addd span{position:relative;top:1px;left:21px;}
.header .nav .addd .son{position:absolute;background:#fff;display:none;margin-top:5px;}
.header .nav .addd .son li a{display:inline-block;width:139px;height:25px;font:12px/25px 'Microsoft YaHei';color:#000;text-align:left;margin-top:0;}
.header .nav .addd .son li a:hover{width:139px;height:25px;background-color:fff;color:#f7941d;display:inline-block;}